/*
  Styles pour le composant du pied de page (footer) global.
*/

.footer {
  background-color: var(--neutral-blue);
  color: var(--main-white);
  padding: var(--spacing-lg) var(--spacing-md);
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-logo {
    // Conteneur pour l'image et le paragraphe.
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-height: 50px;
      margin-bottom: var(--spacing-sm);
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      color: var(--text-light);
      text-align: center;
    }
  }
}
