<!--
  Ce template définit le pied de page (footer) global de l'application.
  Il contient généralement le logo, les informations de copyright et les liens de navigation.
-->
<footer class="footer">

  <!-- Section contenant le logo et le texte de copyright. -->
  <div class="footer-logo">
    <!-- Le chemin de l'image doit être correct par rapport au déploiement. -->
    <img src="logoclubplusblanc.png" alt="Logo Club Plus"/>
    <p>Club Plus © 2025. All rights reserved.</p>
  </div>

</footer>
