<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>

<div class="container">
  <div class="header">
    <h1>Liste des Événements</h1>
    <!-- Bouton pour ouvrir la modal de création -->
    <app-create-event-button (createClicked)="ouvrirModalCreation()"></app-create-event-button>

  </div>

  <table class="full-width-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Début - Fin</th>
      <th>Description</th>
      <th>Participants</th>
      <th>Lieu</th>
      <th>Catégories</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Utilisation de event-row -->
      @for (event of evenements ; track event.id) {
        <tr app-event-row [evenement]="event" (modifier)="handleOpenEditModal($event)"
            (deleteRequest)="handleDeleteEventRequest($event)"></tr>
      }
    </tbody>
  </table>

  @if (isEditEventModalVisible) {
    <app-edit-event
      [isVisible]="isEditEventModalVisible"
      [event]="selectedEventForEditModal"
      (saveSuccess)="handleSaveEventSuccess($event)"
      (close)="handleCloseEditModal()">
    </app-edit-event>
  }
</div>
