<!-- membre-row.component.html -->
<td>{{ membre.id }}</td>
<td>{{ membre.nom }} {{ membre.prenom }}</td>
<td>{{ membre.date_naissance | date:'dd/MM/yyyy' }}</td>
<td>{{ membre.date_inscription | date:'dd/MM/yyyy' }}</td>
<td>{{ membre.numero_voie }} {{ membre.rue }}, {{ membre.codepostal }} {{ membre.ville }}</td>
<td>{{ membre.telephone }}</td>
<td>{{ membre.email }}</td>
<td>{{ membre.role }}</td>
<!-- === NOUVELLE COLONNE ACTIONS === -->
<td>
  <div class="btn-actions" style="justify-content: center;">
    <button class="btn btn-edit" title="Gérer le rôle" (click)="onOpenModalClick()">
      <lucide-icon name="user-cog" class="icon"></lucide-icon> <!-- Icône de gestion -->
    </button>
  </div>
</td>
<!-- ================================ -->
