<app-navbar></app-navbar>

<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">
      Gérez votre club <strong>facilement</strong>.
    </h1>
    <p class="hero-description">
      Une solution moderne pour simplifier la gestion de votre club.
    </p>
  </div>
</section>

<section class="features-section">
  @if (!isLoading && stats) {
  <div class="feature-item">
    <h3>{{ formatNumber(stats.clubCount) }}</h3>
    <p>Clubs utilisent notre solution</p>
  </div>
  <div class="feature-item">
    <h3>{{ formatNumber(stats.eventCount) }}</h3>
    <p>Événements organisés</p>
  </div>
  <div class="feature-item">
    <h3>{{ formatNumber(stats.memberCount) }}</h3>
    <p>Membres actifs</p>
  </div>
  } @else {
    <div class="feature-item">
      <h3>Chargement....</h3>
      <lucide-icon name="loader" class="animate-spin" ></lucide-icon>
    </div>
  }
</section>

<section class="app-download">
  <div class="download-content">
    <h2>Téléchargez l'application</h2>
    <button class="download-btn">Télécharger l'application</button>
  </div>
</section>

<app-footer></app-footer>
