<td>{{ reservation.event.start | date:'dd/MM/yyyy' }}</td>
<td>{{ reservation.event.start | date:'HH:mm' }}</td>
<td>{{ reservation.event.nom }}</td>
<td>{{ reservation.categorie.nom }}</td>
<td class="actions-cell">
  <button class="btn btn-primary show-qr-btn" (click)="onOpenQrModal()">
    <lucide-icon name="qr-code"></lucide-icon>
  </button>
  <button class="btn btn-secondary" (click)="onGeneratePDF()">
    <lucide-icon name="download"></lucide-icon>
  </button>
  <button class="btn btn-danger" (click)="onDelete()">
    <lucide-icon name="trash"></lucide-icon>
  </button>
</td>
