<div class="rating-container">
  <h2 class="rating-title">{{ title }}</h2>
  <div class="stars-wrapper">
    <!-- Boucle sur 5 étoiles -->
    @for (itemIndex of starIndexes ; track itemIndex) {
    <span
      class="star"
      [class.filled]="quantity() > itemIndex"
      (click)="updateRating(itemIndex)"
      [attr.aria-label]="'Note ' + (itemIndex + 1) + ' sur 5'"
    >
    ★ <!-- Vous pouvez utiliser une icône lucide ici si vous préférez -->
    <!-- <lucide-icon name="star" [class.filled]="quantity() > index"></lucide-icon> -->
    </span>
    }
  </div>
  <!-- Affichage de la note actuelle sur 5 -->
  <p class="rating-value">
    Note actuelle : {{ quantity() > 0 ? quantity() : '-' }}/5
  </p>
</div>
