<!--
  Ce template contient un ensemble de contrôles de formulaire permettant à l'utilisateur
  de filtrer et de trier une liste d'événements.
  Il utilise l'approche "Template-Driven Forms" avec `[(ngModel)]`.
-->
<div class="filters">

  <!-- Champ de recherche par texte -->
  <input
    type="text"
    placeholder="Rechercher un événement..."
    [(ngModel)]="searchQuery"
    (input)="applyFilters()"
    class="search-bar"
  />

  <!-- Sélecteur pour la date de début -->
  <div class="date-picker picker">
    <label>Début :</label>
    <input
      class="date"
      type="date"
      [(ngModel)]="startDateLocal"
      (change)="applyFilters()"
    />
  </div>

  <!-- Sélecteur pour la date de fin -->
  <div class="date-picker picker">
    <label>Fin :</label>
    <input
      class="date"
      type="date"
      [(ngModel)]="endDateLocal"
      (change)="applyFilters()"
    />
  </div>

  <!-- Filtre pour les places disponibles -->
  <div class="checkbox-container">
    <input
      type="checkbox"
      [(ngModel)]="filterAvailablePlaces"
      (change)="applyFilters()"
      id="available-places-checkbox"
    />
    <label for="available-places-checkbox">Places disponibles uniquement</label>
  </div>

  <!-- Filtre conditionnel "Avec amis", visible uniquement pour les membres. -->
  @if (auth.role == "ROLE_MEMBRE") {
    <div class="checkbox-container">
      <input
        type="checkbox"
        [(ngModel)]="filterWithFriends"
        (change)="applyFilters()"
        id="with-friends-checkbox"
      />
      <label for="with-friends-checkbox">Avec amis</label>
    </div>
  }

  <!-- Contrôle pour le tri par date -->
  <div class="sort-controls">
    <button (click)="toggleSortDirection()" class="sort-button">
      Trier par date
      <!-- L'icône change dynamiquement pour refléter la direction du tri. -->
      <lucide-icon
        [name]="sortDirection === 'asc' ? 'chevron-up' : 'chevron-down'"
        class="sort-icon">
      </lucide-icon>
    </button>
  </div>
</div>
