<div class="sidebar">
  <div class="logo-container">
    <img
      src="LogoClubPlussansfond.png"
      alt="Logo Club Plus"
      class="logo"
    />
  </div>

  <ul class="menu-items">
    @if (auth.role == "ROLE_ADMIN" || auth.role == "ROLE_RESERVATION"){
    <!-- Espace admin -->
    <li>
      <a routerLinkActive="page_actuelle" routerLink="/dashboard">
        <lucide-icon name="layout-dashboard"></lucide-icon>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLinkActive="page_actuelle" routerLink="/eventadmin">
        <lucide-icon name="calendar"></lucide-icon>
        Événements
      </a>
    </li>
    <li>
      <a routerLinkActive="page_actuelle" routerLink="/membreadmin">
        <lucide-icon name="users"></lucide-icon>
        Membres
      </a>
    </li>
    <li>
      <a routerLinkActive="page_actuelle" routerLink="/monclub">
        <lucide-icon name="house"></lucide-icon>
        Mon Club
      </a>
    </li>
    } @else {
      <!-- Espace membre -->
      <li>
        <a routerLinkActive="page_actuelle" routerLink="/event" class="active">
          <lucide-icon name="calendar"></lucide-icon>
          Calendrier
        </a>
      </li>
      <li>
        <a routerLinkActive="page_actuelle" routerLink="/billet">
          <lucide-icon name="ticket"></lucide-icon>
          Mes billets
        </a>
      </li>
          <li>
              <a routerLinkActive="page_actuelle" routerLink="/amis">
                <lucide-icon name="users"></lucide-icon>
                Mes amis
              </a>
            </li>
            <li>
              <a routerLinkActive="page_actuelle" routerLink="/notation">
                <lucide-icon name="star"></lucide-icon>
                Notation
              </a>
            </li>
    }
    <li>
      <a routerLinkActive="page_actuelle" routerLink="/profil">
        <lucide-icon name="user"></lucide-icon>
        Profil
      </a>
    </li>

  </ul>

  <!-- Footer commun -->
  <div class="sidebar-footer">
    <a (click)="auth.deconnexion()" routerLink="/accueil" class="logout-btn" title="Déconnexion">
      <lucide-icon name="log-out"></lucide-icon>
    </a>
  </div>
</div>
