<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>
<div class="container">
  <div class="header">
    <h1>Liste des Membres</h1>

  </div>
  <!-- Derniers membres inscrits -->
  <div class="table-container">
    <table class="full-width-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nom et Prénom</th>
        <th>Date de Naissance</th>
<!--        <th>Date d'Inscription</th>-->
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (member of membres ; track member.id) {
          <tr app-membre-row [membre]="member" (roleChangeRequested)="handleSaveRole($event)"></tr>
        }
      </tbody>
    </table>
  </div>
</div>

