<div class="not-found-container">
  <div class="not-found-content">

    <div class="icon-container">
      <lucide-icon name="siren" class="not-found-icon"></lucide-icon>
    </div>

    <h1 class="error-code">404</h1>

    <p class="error-message">Page Hors-Jeu !</p>

    <p class="error-description">
      On dirait que le lien suivi est invalide ou que la page a été déplacée sur un autre terrain.
    </p>

    <!-- Bouton de retour à la page d'accueil. -->
    <a routerLink="/accueil" class="btn btn-primary back-home-link">
      <lucide-icon name="house" aria-hidden="true"></lucide-icon>
      Retour à l'accueil
    </a>

  </div>
</div>
