<!-- qr-code-modal.component.html -->

<!--
  Contrôle l'affichage de l'ensemble de la modale.
-->
@if (isOpen) {
  <!--
    Définit la superposition (overlay) qui couvre l'arrière-plan de la page.
  -->
  <div class="modal-overlay"
       [class.is-visible]="isOpen"
       (click)="onClose()">

    <!--
      Conteneur principal du contenu de la modale.
    -->
    <div class="modal-content modal-content-sm" (click)="stopPropagation($event)">

      <!--
        Structure l'en-tête de la modale avec un titre et un bouton de fermeture.
      -->
      <header class="modal-header">
        <h2>
          <lucide-icon name="ticket" aria-hidden="true"></lucide-icon>
          <span>QR Code de votre billet</span>
        </h2>
        <button class="modal-close-button" type="button" (click)="onClose()" title="Fermer">
          <lucide-icon name="x"></lucide-icon>
        </button>
      </header>

      <!--
        Corps de la modale où le contenu principal est affiché.
      -->
      <main class="modal-body">
        <!-- Conteneur dédié au style spécifique du QR code. -->
        <div class="zoomed-qr-container">
          <!--
            Intégration du composant externe de génération de QR code.
          -->
          <qrcode
            [qrdata]="qrData"
            [width]="256"
            [errorCorrectionLevel]="'M'">
          </qrcode>
        </div>

        <!--
          Affiche les détails du billet de manière conditionnelle.
        -->
        @if (ticketInfo) {
          <div class="ticket-info">
            <p><strong>{{ ticketInfo.membre?.prenom }} {{ ticketInfo.membre?.nom }}</strong></p>
            <p>{{ ticketInfo.event?.nom }}</p>
            <p>{{ ticketInfo.event?.startTime | date:'dd/MM/yyyy HH:mm' }}</p>
            <p>{{ ticketInfo.event?.location }}</p>
            <p>{{ ticketInfo.categorie?.nom }}</p>
          </div>
        }
      </main>

      <!--
        Définit le pied de page de la modale.
      -->
      <footer class="modal-footer footer-notice">
        <p>Présentez ce QR code à l'entrée de l'événement.</p>
      </footer>

    </div>
  </div>
}
