<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo à gauche -->
    <div class="navbar-logo">
      <a routerLink="/">
        <img src="LogoClubPlussansfond.png" alt="Logo Club Plus" />
      </a>
    </div>

    <!-- Liens de navigation au centre -->
    <ul class="navbar-menu">
      <li><a routerLink="/a-propos">À propos</a></li>
      <li><a routerLink="/tarifs">Tarifs</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <!-- Boutons d'action à droite -->
    <div class="navbar-buttons">
      @if (auth.connecte === false){
        <a routerLink="/inscription-club" class="btn btn-primary">Créer un club</a>
      <a routerLink="/inscription-membres" class="btn btn-secondary">Rejoindre un club</a>
      <a routerLink="/connexion" class="btn btn-outline">Connexion</a>
      }
      @if (auth.role == "ROLE_ADMIN" || auth.role == "ROLE_RESERVATION" || auth.role == "ROLE_MEMBRE"){
        <a (click)="MoveToEspace()" routerLink="/connexion" class="btn btn-primary">Acceder a mon espace</a>
      }
    </div>
  </div>
</nav>
